# Ignore compiled Python files and cache
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
*.log
*.tmp
*.swp
.DS_Store

#Ignore backup
No_Graphical_part/Q-Learning - Backup/